### Original data processing (try not to rerun)

In [1]:
# Import data and read in csv
import pandas as pd
import numpy as np
import uuid
df = pd.read_csv('final_news_df.csv')
pd.set_option("max_colwidth", 100)

In [4]:
# Reduce size of dataset
df_red = df.sample(frac=0.2, random_state=42)

In [6]:
# Create article_key column
### NOTE: Do not rerun this unless you want to create unique keys
df_red['article_key'] = [uuid.uuid1() for x in range(0, len(df_red))]
df_red.reset_index(drop=True, inplace=True)
df_red['article_key'] = df_red.article_key.astype(str)

In [61]:
# Rename column
df_red.rename(columns={"date":"release_date"}, inplace=True)
# Reduce columns in final data
df_final = df_red[['article_key', 'category', 'headline', 'short_description', 'release_date', 'keywords']]

In [62]:
# Write to csv
df_final.to_csv('articles.csv', index=False)

### New data processing

In [55]:
# Work on existing data
import pandas as pd
df = pd.read_csv('articles.csv')
df.head(2)

,article_key,category,headline,short_description,release_date,keywords
0,17542c2e-21f8-11ec-bdf6-acde48001122,BUSINESS,Influencer of the Week: The Tarmac Tiff Photo-Op,Arizona Governor Jan Brewer's tarmac tiff with President Obama influenced a major book bump. Who knew that her Scorpions for Breakfast tome even existed before the photo-op transformed it into a best-seller?,2012-01-29,jan-brewer-book-sales
1,17542d5a-21f8-11ec-bdf6-acde48001122,FOOD & DRINK,"Sriracha, Sapporo and 17 Other Food Brand Names You're Probably Mispronouncing",Is it Sa-POE-roe or SA-poe-roe? Don't even get us started on Sriracha and Nutella (betcha didn't know you were probably saying those wrong too).,2014-04-10,sriracha-sapporo-and-17-m

In [56]:
# Replace punctuation
df['short_description'] = df['short_description'].str.replace(r'[/!/?]', '/.', regex=True)

# Add punctuation to cells that don't end with a period
df.loc[~df.short_description.str.contains('\.', regex=True), 'short_description'] = \
    df.loc[~df.short_description.str.contains('\.', regex=True), 'short_description'] + '.'

df['short_description'] = df.short_description.str.replace('/.', '.', regex=False)

In [57]:
# Write to csv
df.to_csv('news_articles.csv', index=False)